* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 80%;
    margin: 0 auto;
}

header {
    height: 90px;
    padding: 0 20px;
    background-color: lightcoral;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style-type: none;
    display: flex;
}

.list-item {
    margin: 20px;
}